<!DOCTYPE html>
<html>
  <head>
    <meta name = "viewport" content = "width = 1024, height = 768,
       initial-scale = 1.0, user-scalable = no">
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no" /> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/jquery-ui.css" />
    <link rel="stylesheet" href="../css/jquery-ui-slider-pips.css" />
  
    <script src="/socket.io/socket.io.js"></script>
    <script src="../lib/jquery-2.1.1.js"></script>
    <script src="../lib/jquery-ui.js"></script>
    <script src="../lib/jquery-ui-slider-pips.js"></script>
    <script src="../lib/lodash.js"></script>
    <script src="../js/samples.js"></script>
    <script src="../js/control.js"></script>
    <script src="../js/auto_sequence.js"></script>    
  </head>
  <body>
  <div>
    <center><h1>everything goes here!<br/><br/>
      <div>
        <span>
          <input id="running-mode" type="checkbox"/> 
          <label for="check" class="ui-widget">Running</label>
        </span>
        &nbsp; &nbsp; &nbsp; 
        <span id="sync-button">Sync</span> <br/><span id='counter'></span>
      </div> <br />
      <div id="duration-slider" class="slider"></div>
      <span id="duration"></span>
      
      <div id="state-button-0">White</div> 
      <div id="state-button-1">Black</div> 
      <div id="state-button-2">Red</div> 
      <div id="state-button-3">Blue</div> 
      <div id="state-button-4">Green</div> <br /><br />

      <div id="reload-button">Reload</div> 
      <div id="markov_1">Markov_1</div> 
      <div id="markov_2">Markov_2</div> 
      <div> <span id="clock1"></span>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    <span id="clock2"></span></div>
      <div>
        <input id="trigger-mode" type="checkbox"/> 
        <label for="check" class="ui-widget">Slave</label>
      </div>
      <br /> <br />
      <div>
        <select id="samples" name="samples" style="width:400px; height:20px">
      </div>
    </h1></center>
  </div>
  </body>
</html>
