<!DOCTYPE html>
<html>
  <head>
    <meta name = "viewport" content = "width = 1024, height = 768,
       initial-scale = 1.0, user-scalable = no">
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no" /> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/jquery-ui.css" />
    <link rel="stylesheet" href="../css/jquery-ui-slider-pips.css" />
  
    <script src="/socket.io/socket.io.js"></script>
    <script src="../lib/jquery-2.1.1.js"></script>
    <script src="../lib/jquery-ui.js"></script>
    <script src="../lib/jquery-ui-slider-pips.js"></script>
    <script src="../lib/lodash.js"></script>
    <script src="../js/control.js"></script>
  </head>
  <body>
  <div>
    <center><h1>everything goes here!<br/><br/>
      <div id="sync-button">Sync</div> <br/><br/>
      <div id="duration-slider" class="slider"></div>
      <span id="duration"></span>
      
      <div id="state-button-0">White</div> 
      <div id="state-button-1">Black</div> 
      <div id="state-button-2">Red</div> 
      <div id="state-button-3">Blue</div> 
      <div id="state-button-4">Green</div> 

    </h1></center>
  </div>
  </body>
</html>
